.banner-bg {
  background-image: url("../../assets/images/bg-img/06.jpg");
  max-height: 100%;
  min-height: calc(100vh - 5rem);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  padding-top: 8rem;
}
.banner-title {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 300;
  width: 50%;
  text-align: center;
  color: var(--bs-gray-2);
}
.search-container {
  width: 50%;
}

.span-color {
  color: var(--bs-yellow);
}
.search-list-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  gap: 1rem;
  padding-bottom: 4rem;
}
.search-list {
  list-style: none;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(77, 45, 173, 0.12),
    0 1px 2px rgba(40, 46, 152, 0.24);
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.search-subHeading {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bs-gray-2);
}
